body,
html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.app-container {
  width: 98%;
  max-width: 700px;
  margin: 7% auto;
  padding: 3%;
  text-align: center;
  border-radius: 12px;
  box-shadow: inset 0 0 4px #fff;
  background-color: #000;
}

.todo-hiding {
  color: #0dcaf0;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 28px;
  font-weight: 800;
  background-image: linear-gradient(45deg, #0dcaf0, #0d51f0);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #0dcaf0;
  font-family: 'Tilt Neon', sans-serif;
  float: left;
}

.app-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  width: 100%;
  min-height: 600px;


}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 12% auto;
  align-items: center;


}

.todo-progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10%;
  border-radius: 18px;
  width: 88%;
  min-width: 20%;
  margin: 25% auto;
  gap: 10px;
}

.todo-progress-label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}

.todo-progress-border {
  padding: 10px;
}